body {
    padding-top: 40px;
    margin-top:40px;
}

.starter-template {
    text-align: center;
}

table {
    text-align: left;
}

div.thumbnail img {
    max-height: 200px;
}

div.form-inline form {
    display: inline;
}

div.labels {
    position: absolute;
}

div.labels span.badge {
    display: block;
}

span.badge.badge-success {
    color: #fff;
    background-color: #28a745;
}

span.badge.badge-warning {
    color: #fff;
    background-color: #dc3545;
}

span.badge.badge-danger {
    color: #212529;
    background-color: #ffc107;
}

div.filters {
    padding-bottom: 5px;
}

    .image-size {
        height: 400px;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center center;
    }

@media screen and (max-width: 990px) {
    .image-size {
        height:250px;
    }
}

@media screen and (max-width: 767px) {
    .image-size {
        height:200px;
    }
}

.sort {
    margin-bottom: 20px;
    margin-right: 20px;
}

.rating {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rating:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rating:not(:checked) > label:before {
    content: '★ ';
}
.rating > input:checked ~ label {
    color: #ffc700;
}
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: #deb217;
}
.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
